@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color-blue: hsl(246, 80%, 60%);
    --primary-color-lightRed-work: hsl(15, 100%, 70%);
    --primary-color-softBlue-play: hsl(195, 74%, 62%);
    --primary-color-lightRed-study: hsl(348, 100%, 68%);
    --primary-color-limeGreem-exercise: hsl(145, 58%, 55%);
    --primary-color-violet-social: hsl(264, 64%, 52%);
    --primary-color-softOrange-selfcare: hsl(43, 84%, 65%);
    --neutral-color-veryDarkBlue: hsl(226, 43%, 10%);
    --neutral-color-darkBlue: hsl(235, 46%, 20%);
    --neutral-color-desaturatedBlue: hsl(235, 45%, 61%);
    --neutral-color-paleBlue: hsl(236, 100%, 87%);
    --color-white: white;
    --text-size: 16px; /*(card titles e.g. Work, Play)*/
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: var(--text-size);
    background-color: var(--neutral-color-veryDarkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    padding-top: 150px;
    flex-flow: wrap;
}

h5 {
    margin: 22px;
}
.Principal-card{
    position: absolute;
    left:290px;
    cursor: pointer;
}
.card-top{  
    position: relative;  
    background-color: var(--primary-color-blue);
    padding: 25px;
    color: var(--color-white);
    height: 300px;
    text-align: justify;
    z-index: 1;
}
.report-for {
    color:var(--neutral-color-paleBlue);
    margin-top: 30px;
    margin-bottom: 7px;
}
.user-image {
    display: flex;     
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid 2px var(--color-white);
}
.user-name {
    font-size: 32px;
}
.card-bottom {
    position: relative;    
    color: var(--neutral-color-paleBlue);
    background-color: var(--neutral-color-darkBlue);
    bottom:10px;
    padding: 29px;    
}
.Daily:hover {
    color:var(--color-white);
}
.Weekly {
    color: var(--color-white);
    line-height: 3;
}
.Weekly:hover {
    color:var(--color-white);
}
.Monthly:hover {
    color:var(--color-white);
}

.card{
    width: 210px;
    border-radius: 10px;
}
.work-card {
    background-color: var(--primary-color-lightRed-work);
    position: relative;
    left:500px;
    margin-left: 1.5em;
}
.play-card{
    background-color: var(--primary-color-softBlue-play);
    position: relative;
    left:500px;
    margin-left: 1.5em;
}
.study-card {
    background-color: var(--primary-color-lightRed-study);
    position: relative;
    left:500px;
    margin-left: 1.5em;
}
.exercise-card{
    background-color: var(--primary-color-limeGreem-exercise);
    position: relative;
    top:230px;
    margin-left: -11em;
}
.social-card{
    background-color: var(--primary-color-violet-social);
    position: relative;
    top:230px;
    margin-left: 1.5em;
}
.self-care-card{
    background-color: var(--primary-color-softOrange-selfcare);
    position: relative;
    top:230px;
    margin-left: 1.5em;
}
.card-icon{
    height:45px;
}

.icon-1 {
    clip-path: inset(12.9% 0 30.4% 0);
    position: relative;
    bottom:10px;
    padding-left: 120px;
}
.icon-2 {
    clip-path: inset(12.9% 0 28.3% 0);
    position: relative;
    bottom:10px;
    padding-left: 120px;
}
.icon-3 {
    clip-path: inset(12.9% 0 30.4% 0);
    position: relative;
    bottom:10px;
    padding-left: 120px;
}
.icon-4 {
    clip-path: inset(2% 0 16.5% 0);
    position: relative;
    bottom:1px;
    padding-left: 115px;
}
.icon-5 {
    clip-path: inset(12.9% 0 42% 0);
    position: relative;
    bottom:13px;
    padding-left: 128px;
}
.icon-6 {
    clip-path: inset(13.3% 0 19.5% 0);
    position: relative;
    bottom:9px;
    padding-left: 130px;
}
.information-card{
    color: var(--color-white);
    background-color: var(--neutral-color-darkBlue);
    padding: 25px;
    border-radius: 9px;
    cursor: pointer;
}
.information-card:hover{
    animation-name: information-background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes information-background-color{
    100% {
        background-color: var(--neutral-color-desaturatedBlue);
      }
}
.icon-option{
    float: right;
    cursor: pointer;
}

.type-card-name {
    padding-bottom: 12px;
    position: relative;
    bottom: 6px;
}
.hours-card {
    padding-bottom: 12px;
    font-size: 37px;
}
.Lastweek-card{
    color: var(--neutral-color-paleBlue);
}