@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color-blue: hsl(246, 80%, 60%);
    --primary-color-lightRed-work: hsl(15, 100%, 70%);
    --primary-color-softBlue-play: hsl(195, 74%, 62%);
    --primary-color-lightRed-study: hsl(348, 100%, 68%);
    --primary-color-limeGreem-exercise: hsl(145, 58%, 55%);
    --primary-color-violet-social: hsl(264, 64%, 52%);
    --primary-color-softOrange-selfcare: hsl(43, 84%, 65%);
    --neutral-color-veryDarkBlue: hsl(226, 43%, 10%);
    --neutral-color-darkBlue: hsl(235, 46%, 20%);
    --neutral-color-desaturatedBlue: hsl(235, 45%, 61%);
    --neutral-color-paleBlue: hsl(236, 100%, 87%);
    --color-white: white;
    --Font-size: 18px; /*(card titles e.g. Work, Play)*/
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size-1);
    background-color: var(--neutral-color-veryDarkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    padding-top: 150px;
    flex-flow: wrap;
}
.card{
    width: 250px;
    border-radius: 10px;
}
.work-card {
    background-color: var(--primary-color-lightRed-work);
    position: relative;
    left:500px;
    margin-left: 1.5em;
}
.play-card{
    background-color: var(--primary-color-softBlue-play);
    position: relative;
    left:500px;
    margin-left: 1.5em;
}
.study-card {
    background-color: var(--primary-color-lightRed-study);
    position: relative;
    left:500px;
    margin-left: 1.5em;
}
.exercise-card{
    background-color: var(--primary-color-limeGreem-exercise);
    position: relative;
    top:230px;
    margin-left: -18.5em;
}
.social-card{
    background-color: var(--primary-color-violet-social);
    position: relative;
    top:230px;
    margin-left: 1.5em;
}
.self-care-card{
    background-color: var(--primary-color-softOrange-selfcare);
    position: relative;
    top:230px;
    margin-left: 1.5em;
}
.card-icon{
    height:45px;
}
.icon-1 {
    clip-path: inset(12.9% 0 30.4% 0);
    position: relative;
    bottom:10px;
    padding-left: 155px;
}
.icon-2 {
    clip-path: inset(12.9% 0 28.3% 0);
    position: relative;
    bottom:10px;
    padding-left: 155px;
}
.icon-3 {
    clip-path: inset(12.9% 0 30.4% 0);
    position: relative;
    bottom:10px;
    padding-left: 155px;
}
.icon-4 {
    clip-path: inset(2% 0 16.5% 0);
    position: relative;
    bottom:1px;
    padding-left: 155px;
}
.icon-5 {
    clip-path: inset(12.9% 0 42% 0);
    position: relative;
    bottom:13px;
    padding-left: 164px;
}
.icon-6 {
    clip-path: inset(13.3% 0 19.5% 0);
    position: relative;
    bottom:9px;
    padding-left: 168px;
}
.information-card{
    color: var(--color-white);
    background-color: var(--neutral-color-darkBlue);
    padding: 25px;
    border-radius: 9px;
    cursor: pointer;
}
.information-card:hover{
    background-color: var(--neutral-color-desaturatedBlue);
}
.information-card img{
    float: right;
    cursor: pointer;
}
.type-card-name {
    padding-bottom: 12px;
    position: relative;
    bottom: 6px;
}
.hours-card {
    padding-bottom: 12px;
    font-size: 37px;
}
.Lastweek-card{
    color: var(--neutral-color-paleBlue);
}









