@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-blue: hsl(246, 80%, 60%);
    --primary-color-lightRed-work: hsl(15, 100%, 70%);
    --primary-color-softBlue-play: hsl(195, 74%, 62%);
    --primary-color-lightRed-study: hsl(348, 100%, 68%);
    --primary-color-limeGreem-exercise: hsl(145, 58%, 55%);
    --primary-color-violet-social: hsl(264, 64%, 52%);
    --primary-color-softOrange-selfcare: hsl(43, 84%, 65%);
    
    --neutral-color-veryDarkBlue: hsl(226, 43%, 10%);
    --neutral-color-darkBlue: hsl(235, 46%, 20%);
    --neutral-color-desaturatedBlue: hsl(235, 45%, 61%);
    --neutral-color-paleBlue: hsl(236, 100%, 87%);
    --color-white: white;
    --Font-size: 18px; /*(card titles e.g. Work, Play)*/
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size-1);
    background-color: var(--neutral-color-veryDarkBlue);
    padding-top: 150px;
    display: flex;
}

.work-card {
    width: 250px;
    background-color: var(--primary-color-lightRed-work);
    border-radius: 10px;
    position: relative;
    left:500px;
    margin-left: 1.5em;
}

.play-card{
    width: 250px;
    background-color: var(--primary-color-softBlue-play);
    border-radius: 10px;
    position: relative;
    left:500px;
    margin-left: 1.5em;
}

.study-card {
    width: 250px;
    background-color: var(--primary-color-lightRed-study);
    border-radius: 10px;
    position: relative;
    left:500px;
    margin-left: 1.5em;
}

.card-icon{
    position: relative;
    height:45px;
    padding-left: 155px;
    bottom:10px;
}

.card-icon img{
    clip-path: inset(12.9% 0 30.4% 0);
}

.information-card{
    color: var(--color-white);
    background-color: var(--neutral-color-darkBlue);
    padding: 25px;
    border-radius: 9px;
    cursor: pointer; 
}

.information-card:hover{
    background-color: var(--neutral-color-desaturatedBlue);
}


.information-card img{
    float: right;
    cursor: pointer; 
}

.type-card-name {
    padding-bottom: 12px;
    position: relative;
    bottom: 6px;
}

.hours-card {
    padding-bottom: 12px;
    font-size: 37px;
}

.Lastweek-card{
    color: var(--neutral-color-paleBlue);
}